<!DOCTYPE html>
<html>
    <head>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js'></script>
        <LINK href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css">
        {% block head %}
        {% endblock %}
        <title>
            {% block titleblock %}{% endblock %}
        </title>
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'footer.html' %}
        {% block body %}{% endblock %}
    </body>
</html>
