{% extends 'base.html' %}
{% block title %}Many Phase{% endblock %}
{% block head %}<LINK href="{{ STATIC_URL }}css/construction.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    <div id='header'>
        <img id='logo' src='../static/images/logo-medium.png' /> 
    </div>
    <div id="main-block">
        <div id='construction-wrap'>
            <h1 id="construction-message">We know how to build websites.</h1>
            <p id='sign-up-message'>We're ready to help establish your online identity, sign up to get started!</p>
            <form class='contact' action="/contact/" method="post">{%csrf_token %}
                {{ form.non_field_errors }}
                {{ form.email.errors }}
                <div id='email-wrap'>
                    <label for="id_email">Email:</label>
                        {{ form.email }}
                </div>
                <input id="submit"type="submit" value="Submit" />
                <div class='clearer'></div>
            </form>
            <div class='clearer'></div>
        </div>
    </div>
{% endblock %}
