<div class="left-column">
    <img src='{{ STATIC_URL }}images/service-image.png'>
</div>
<div class="right-column">
    <h1>We offer a stellar web presence.</h1>
    <p>One of the challenges facing todays businesses is maintaining a current, modern, and relevant web presence.</p>
    <p>Many web designers out 'in the wild' will just use pre-made templates, simply changing colors and moving things around. We do everything from scratch each time we create a website.
    <p>Every business is different. That's why we hand-craft each website. We strive for perfection, beacuse we believe that first impressions are the most important thing for a business.</p> 
    <p>We utilize Web 2.0 technologies to hand-craft your website, so your online presence is up-to-date, stable, and mobile-ready.
    </p>
    <p>When you're ready,
    <a href='/contact'>get in touch with us!</a>
    </p>
</div>
