html, body{
    margin:0;
    padding:0;
    min-width:1000px;
    min-height:100%;
    width:100%;
    background-image:url('../images/stripe.png');*/
}
#header{
    width:1000px;
    height:150px;
    padding:5px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
#main-block{
    width:1000px;
    padding:15px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}
#logo{
    float:left;
    height:150px;
    display:block;
}
#main-nav{
    position:absolute;
    bottom:0;
    right:0;
    list-style:none;
    margin:0;
    padding:0;
    font-size:16pt;
}
.nav-item{
    cursor:pointer;
    display:inline-block;
    float:left;
    margin-left: 1em;
    margin-right: 1em;
}
.nav-item:hover{
    color:white;

}
.nav-item:active{
    color:rgb(120,120,120);
}
.clearer{
    clear:both;
}
