html, body{
    margin:0;
    padding:0;
    min-width:800px;
    min-height:100%;
    width:100%;
    background-image:url('../images/stripe.png');
}
#vignette-wrap{
    height:100%;
    min-width:800px;
    width:100%;
    display:block;
    /* begin css3 stuffs */
    box-shadow: inset 0 0 100px #000;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
}
#main-block{
    width:800px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
}
#logo{
    float:left;
    width:200px;
    height:200px;
}
#construction-message{
    margin:0;
    font-size:14pt;
    text-align:center;
    color:black;
}
.clearer{
    clear:both;
}
