#construction-wrap{
    background-color:rgba(80,80,80,0.5);
    width:45em;
    padding:1.5em;
    margin-top:3em;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
}
#construction-message{
    margin:0;
    font-size:21pt;
    text-align:left;
    color:black;
}
#sign-up-message{
    font-size:16pt;
}
.contact{
}
label{
    display:block;
    float:left;
    margin-right:0.5em;
    line-height:1.5em;
    font-size:20pt;
}
#email-wrap{
    margin-left:13em;
}
#email-wrap > input{
    width:25em;
    font-size:12pt;
    padding:0.25em;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
}
#email-wrap > input:focus{
    outline:none;
}
#submit{
    float:right;
    font-size:12pt;
    width:6em;
    padding:0.25em;
    margin-top:1em;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border:1px solid rgb(120,120,120);
}
#submit:active{
    background-color:rgb(120,120,120);
    color:white;
  
